{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Submit a Job{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col col-auto col-mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>Submit a Job</h2>
                </div>
                <div class="card-body">
                    <p>
                        Job creation is disabled at this moment. Please revisit this page later.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
