*.pyc
*.sqlite3
*~
*.egg-info/
.idea/
.env
venv/
.venv/
.hypothesis
.envrc
.nox/
.mypy_cache/
.pdm-build/
.pytest_cache/
.ruff_cache/
__pycache__/
build/
dist/
.pdm-python
/wallets/
test-report.xml
.python-version
screenlog.3
