# generate one for yourself, e.g. `python3 -c 'import random; import string; print("".join(random.SystemRandom().choice(string.ascii_letters + string.digits) for _ in range(50)))'`
SECRET_KEY=
# generate one for yourself
POSTGRES_PASSWORD=
# make sure to unblock access to that port in your firewall
BITTENSOR_MINER_PORT=8000
BITTENSOR_MINER_ADDRESS=auto
# for now, PORT_FOR_EXECUTORS has to be the same as BITTENSOR_MINER_PORT, unless you change nginx configuration yourself (we don't advise doing that)
PORT_FOR_EXECUTORS=8000
# this may be different on you machine
ADDRESS_FOR_EXECUTORS=172.17.0.1
BITTENSOR_NETUID=12
# leave it as "finney" if you want to use the public mainnet chain
BITTENSOR_NETWORK=172.17.0.1:9944
BITTENSOR_WALLET_NAME=miner
BITTENSOR_WALLET_HOTKEY_NAME=default
HOST_WALLET_DIR=/home/ubuntu/.bittensor/wallets
# Override the miner image to use
MINER_IMAGE=backenddevelopersltd/compute-horde-miner:v0-latest
