name: Run end to end tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  PYTHON_DEFAULT_VERSION: "3.11"
  BITTENSOR_NETWORK: "ws://3.91.62.249:9946"
  BITTENSOR_NETUID: "1"
  MNEMONIC_MINER_COLDKEY: "cousin gate anger oak common vacuum bonus rice buyer smooth evidence coast"
  MNEMONIC_MINER_HOTKEY: "provide lyrics civil afford orange marine letter dash parrot secret eternal decrease"
  MNEMONIC_VALIDATOR_COLDKEY: "chief wood gorilla arm that vault useful aware chair giant coconut plug"
  MNEMONIC_VALIDATOR_HOTKEY: "syrup ill organ rigid supreme pen menu range tonight letter pear blind"

jobs:
  validator:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ env.PYTHON_DEFAULT_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_DEFAULT_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: python -m pip install --upgrade nox 'pdm>=2.12,<3'

      - name: Setup common virtual env
        # In order not to exhaust disk on GitHub runner, we use one single
        # virtualenv for all pdm projects: miner, executor, validator.
        run: |
          pdm config venv.backend venv
          python -m venv .venv
          echo "$.venv/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=${{ github.workspace }}/.venv" >> $GITHUB_ENV
          echo "PDM_IGNORE_SAVED_PYTHON=1" >> $GITHUB_ENV

      - name: Bittensor - Install
        run: |
          mkdir .bittensor
          cd .bittensor
          python -m venv .venv
          source .venv/bin/activate
          pip install bittensor

      - name: Bittensor - Create wallets & register
        run: |
          source .venv/bin/activate
          btcli wallet regen_coldkey \
            --wallet.name compute_horde_validator \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_VALIDATOR_COLDKEY} \
            --no_password --no_prompt
          btcli wallet regen_hotkey \
            --wallet.name compute_horde_validator \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_VALIDATOR_HOTKEY} \
            --no_password --no_prompt
          btcli wallet regen_coldkey \
            --wallet.name compute_horde_miner \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_MINER_COLDKEY} \
            --no_password --no_prompt
          btcli wallet regen_hotkey \
            --wallet.name compute_horde_miner \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_MINER_HOTKEY} \
            --no_password --no_prompt
          btcli wallet list
        working-directory: ./.bittensor

      - name: Validator - Prepare environment
        run: ./setup-dev.sh
        working-directory: ./validator

      - name: Miner - Prepare environment
        run: ./setup-dev.sh
        working-directory: ./miner

      - name: Validator - Update .env
        run: |
          sed -i "s|SECRET_KEY=.*|SECRET_KEY=123456|g" .env
          sed -i "s|POSTGRES_PASSWORD=.*|POSTGRES_PASSWORD=123456|g" .env
          sed -i "s|BITTENSOR_NETWORK=.*|BITTENSOR_NETWORK=${BITTENSOR_NETWORK}|g" .env
          sed -i "s|BITTENSOR_NETUID=.*|BITTENSOR_NETUID=${BITTENSOR_NETUID}|g" .env
        working-directory: ./validator

      - name: Miner - Update .env
        run: |
          sed -i "s|SECRET_KEY=.*|SECRET_KEY=123456|g" .env
          sed -i "s|POSTGRES_PASSWORD=.*|POSTGRES_PASSWORD=123456|g" .env
          sed -i "s|BITTENSOR_NETWORK=.*|BITTENSOR_NETWORK=${BITTENSOR_NETWORK}|g" .env
          sed -i "s|BITTENSOR_NETUID=.*|BITTENSOR_NETUID=${BITTENSOR_NETUID}|g" .env
        working-directory: ./miner

      - name: Validator - Run dockerized services
        run: docker compose up -d --wait
        working-directory: ./validator

      - name: Miner - Run dockerized services
        run: docker compose up -d --wait
        working-directory: ./miner

      - name: Validator - Run migrations
        run: pdm run python manage.py wait_for_database --timeout 120 && pdm run python manage.py migrate
        working-directory: ./validator/app/src

      - name: Miner - Run migrations
        run: pdm run python manage.py wait_for_database --timeout 120 && pdm run python manage.py migrate
        working-directory: ./miner/app/src

      - name: Validator - Run server
        run: pdm run python manage.py runserver & echo $! > server.pid
        working-directory: ./validator/app/src

      - name: Miner - Run server
        run: pdm run python manage.py runserver & echo $! > server.pid
        working-directory: ./miner/app/src

      - name: Miner - Fetch validators
        run: pdm run python manage.py fetch_validators
        working-directory: ./miner/app/src

      - name: Validator - Stop server
        if: success() || failure()
        run: kill $(cat server.pid)
        working-directory: ./validator/app/src

      - name: Miner - Stop server
        if: success() || failure()
        run: kill $(cat server.pid)
        working-directory: ./miner/app/src

      - name: Validator - Stop dockerized services
        if: success() || failure()
        run: docker compose down -v
        working-directory: ./validator

      - name: Miner - Stop dockerized services
        if: success() || failure()
        run: docker compose down -v
        working-directory: ./miner
