name: Run end to end tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  PYTHON_DEFAULT_VERSION: "3.11"
  BITTENSOR_NETWORK: "ws://3.91.62.249:9946"
  BITTENSOR_NETUID: "1"
  MINER_NGINX_IMAGE_REPO: "compute-horde-miner-nginx-staging"  # TODO: need to build image in this workflow
  MNEMONIC_MINER_COLDKEY: "cousin gate anger oak common vacuum bonus rice buyer smooth evidence coast"
  MNEMONIC_MINER_HOTKEY: "provide lyrics civil afford orange marine letter dash parrot secret eternal decrease"
  MNEMONIC_VALIDATOR_COLDKEY: "chief wood gorilla arm that vault useful aware chair giant coconut plug"
  MNEMONIC_VALIDATOR_HOTKEY: "syrup ill organ rigid supreme pen menu range tonight letter pear blind"

jobs:
  e2e:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set dynamic environment variables
        run: echo "HOST_WALLET_DIR=$PWD/wallets" >> $GITHUB_ENV

      - name: Set up Python ${{ env.PYTHON_DEFAULT_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_DEFAULT_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: python -m pip install --upgrade nox 'pdm>=2.12,<3'

      - name: Create wallet files
        run: |
          set -euxo pipefail
          CONTAINER_NAME=$(python3 -c 'import uuid; print(uuid.uuid4())')
          docker run \
            --rm \
            --detach \
            --name "$CONTAINER_NAME" \
            --volume "$HOST_WALLET_DIR:/root/.bittensor/wallets/" \
            python:3.11-slim \
            tail -f /dev/null

          # generate the wallet files in "host", so that mounting works
          cat <<EOF | docker exec --interactive "$CONTAINER_NAME" bash
          set -euxo pipefail
          pip install bittensor
          btcli wallet regen_coldkey \
            --wallet.name compute_horde_validator \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_VALIDATOR_COLDKEY} \
            --no_password --no_prompt
          btcli wallet regen_hotkey \
            --wallet.name compute_horde_validator \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_VALIDATOR_HOTKEY} \
            --no_password --no_prompt
          btcli wallet regen_coldkey \
            --wallet.name compute_horde_miner \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_MINER_COLDKEY} \
            --no_password --no_prompt
          btcli wallet regen_hotkey \
            --wallet.name compute_horde_miner \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_MINER_HOTKEY} \
            --no_password --no_prompt
          btcli wallet list
          EOF
          docker rm -f "$CONTAINER_NAME"

      - name: Check out facilitator
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${{ secrets.FACILITATOR_DEPLOY_KEY_PRIVATE }}"
          rm -rf facilitator
          git clone git@github.com:backend-developers-ltd/ComputeHorde-facilitator.git facilitator

      - name: Run facilitator
        working-directory: facilitator
        run: |
          ./setup-prod.sh
          sed -i.bak \
            -e '/BITTENSOR_NETUID/d' \
            -e '/BITTENSOR_NETWORK/d' \
            -e '/POSTGRES_PASSWORD/d' \
            ./envs/prod/.env

          echo "BITTENSOR_NETUID=$BITTENSOR_NETUID" >> .env
          echo "BITTENSOR_NETWORK=$BITTENSOR_NETWORK" >> .env
          echo "POSTGRES_PASSWORD=12345" >> .env

          docker compose pull db redis
          # docker compose build app
          docker compose up -d db redis app
          FACILITATOR_IP_ADDRESS=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' facilitator-app-1)
          echo "FACILITATOR_URI=ws://FACILITATOR_IP_ADDRESS:8000/ws/v0/" >> $GITHUB_ENV

      - name: Build executor image
        run: |
          cd executor
          docker build \
            --build-context compute-horde=../compute_horde \
            -t backenddevelopersltd/executor-e2e:v0-latest \
            -f app/envs/prod/Dockerfile \
            .

      - name: Build miner nginx image
        run: |
          cd miner/envs/runner/nginx
          docker build --platform linux/amd64 -t "backenddevelopersltd/compute-horde-miner-nginx:e2e-latest" .

      - name: Run miner
        run: |
          set -euxo pipefail
          
          # build miner image
          cd miner
          docker build \
            --build-context compute-horde=../compute_horde \
            -t backenddevelopersltd/miner-e2e:v0-latest \
            --build-arg MINER_VERSION="$GITHUB_SHA" \
            -f app/envs/prod/Dockerfile .
          
          # build miner-runner image
          cd envs/runner
          sed -i.bak '/pull_policy/d' ./data/docker-compose.yml
          docker build \
            -t backenddevelopersltd/miner-runner-e2e:v0-latest \
            --build-arg MINER_RUNNER_VERSION="$GITHUB_SHA" \
            --build-arg MINER_IMAGE_REPO=miner-e2e \
            --build-arg MINER_NGINX_IMAGE_REPO="$MINER_NGINX_IMAGE_REPO" \
            .

          # prepare files
          cat > compose.yaml <<ENDDOCKERCOMPOSE
          services:
            miner-runner:
              image: backenddevelopersltd/miner-runner-e2e:v0-latest
              volumes:
                - /var/run/docker.sock:/var/run/docker.sock
                - ./.env:/root/.env
          ENDDOCKERCOMPOSE
          
          cat > .env <<ENDENV
          SECRET_KEY=12345
          POSTGRES_PASSWORD=12345
          BITTENSOR_NETUID=$BITTENSOR_NETUID
          BITTENSOR_NETWORK=$BITTENSOR_NETWORK
          BITTENSOR_WALLET_NAME=compute_horde_miner
          BITTENSOR_WALLET_HOTKEY_NAME=default
          HOST_WALLET_DIR=$HOST_WALLET_DIR
          BITTENSOR_MINER_PORT=8000
          BITTENSOR_MINER_ADDRESS=auto
          COMPOSE_PROJECT_NAME=compute_horde_miner
          PORT_FOR_EXECUTORS=8000
          ADDRESS_FOR_EXECUTORS=172.17.0.1
          EXECUTOR_IMAGE=backenddevelopersltd/executor-e2e:v0-latest
          DEBUG_SKIP_PULLING_EXECUTOR_IMAGE=1
          DEBUG_USE_DOCKER_IP_AS_EXTERNAL=1
          ENDENV
          
          # copy .env to "host", so that mounting works -_-
          CONTAINER_NAME=$(python3 -c 'import uuid; print(uuid.uuid4())')
          docker run \
            --rm \
            --detach \
            --name "$CONTAINER_NAME" \
            --volume "$PWD:/root/pwd" \
            alpine \
            tail -f /dev/null
          docker cp $PWD/.env "$CONTAINER_NAME:/root/pwd/.env"
          docker rm -f "$CONTAINER_NAME"
          
          docker compose pull
          docker compose up -d
          
          MINER_IP_ADDRESS=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' compute_horde_miner-app-1)
          echo "MINER_IP_ADDRESS=$MINER_IP_ADDRESS" >> $GITHUB_ENV

      - name: Run validator
        run: |
          set -euxo pipefail
          
          # build validator image
          cd validator
          docker build \
            --build-context compute-horde=../compute_horde \
            -t backenddevelopersltd/validator-e2e:v0-latest \
            --build-arg VALIDATOR_VERSION="$GITHUB_SHA" \
            -f app/envs/prod/Dockerfile .
          
          # build validator-runner image
          cd envs/runner
          sed -i.bak '/pull_policy/d' ./data/docker-compose.yml
          docker build \
            -t backenddevelopersltd/validator-runner-e2e:v0-latest \
            --build-arg VALIDATOR_RUNNER_VERSION="${GITHUB_SHA}" \
            --build-arg VALIDATOR_IMAGE_REPO=validator-e2e \
            .

          # prepare files
          cat > compose.yaml <<ENDDOCKERCOMPOSE
          services:
            validator-runner:
              image: backenddevelopersltd/validator-runner-e2e:v0-latest
              volumes:
                - /var/run/docker.sock:/var/run/docker.sock
                - ./.env:/root/validator/.env
          ENDDOCKERCOMPOSE
          
          cat > .env <<ENDENV
          SECRET_KEY=12345
          POSTGRES_PASSWORD=12345
          BITTENSOR_NETUID=$BITTENSOR_NETUID
          BITTENSOR_NETWORK=$BITTENSOR_NETWORK
          BITTENSOR_WALLET_NAME=compute_horde_miner
          BITTENSOR_WALLET_HOTKEY_NAME=default
          HOST_WALLET_DIR=$HOST_WALLET_DIR
          COMPOSE_PROJECT_NAME=compute_horde_validator
          FACILITATOR_URI=$FACILITATOR_URI
          HOST_PROMETHEUS_METRICS_DIR=$PWD/prometheus-metrics
          DEBUG_RUN_SYNTHETIC_JOBS_MINUTE=*
          DEBUG_DONT_STAGGER_VALIDATORS=1
          ENDENV
          
          # copy .env to "host", so that mounting works -_-
          CONTAINER_NAME=$(python3 -c 'import uuid; print(uuid.uuid4())')
          docker run \
            --rm \
            --detach \
            --name "$CONTAINER_NAME" \
            --volume "$PWD:/root/pwd" \
            alpine \
            tail -f /dev/null
          docker cp $PWD/.env "$CONTAINER_NAME:/root/pwd/.env"
          docker rm -f "$CONTAINER_NAME"
          
          docker compose pull
          docker compose up -d

      # wait until facilitator, miner and validator have started
      - name: Wait for all the services
        run: |
          sleep 300

      - name: Running containers
        run: docker ps

      - name: Stop validator
        run: docker compose down --remove-orphans --volumes
        working-directory: validator/envs/runner

      - name: Stop miner
        run: docker compose down --remove-orphans --volumes
        working-directory: miner/envs/runner

      - name: Stop facilitator
        run: docker compose down --remove-orphans --volumes
        working-directory: facilitator

      # TODO: in miner: fetch validators, announce axon

      # TODO: run the tests

      # TODO: remove everything below
