name: Run end to end tests

on:
  push:
    branches: [master, main, ci-e2e]
  pull_request:
    branches: [master, main, ci-e2e]

env:
  PYTHON_DEFAULT_VERSION: "3.11"
  BITTENSOR_NETWORK: "ws://3.91.62.249:9946"
  BITTENSOR_NETUID: "1"
  MINER_NGINX_IMAGE_REPO: "compute-horde-miner-nginx-e2e"
  MNEMONIC_MINER_COLDKEY: "cousin gate anger oak common vacuum bonus rice buyer smooth evidence coast"
  MNEMONIC_MINER_HOTKEY: "provide lyrics civil afford orange marine letter dash parrot secret eternal decrease"
  MNEMONIC_VALIDATOR_COLDKEY: "chief wood gorilla arm that vault useful aware chair giant coconut plug"
  MNEMONIC_VALIDATOR_HOTKEY: "syrup ill organ rigid supreme pen menu range tonight letter pear blind"
  MINER_HOTKEY_SS58: "5FqSEa5kHZgwKMMuC7WsHLoXcf3UN9gCpDZ7iDifa2sTLBSB"
  VALIDATOR_HOTKEY_SS58: "5GHikjqiHD1pUyCf3mzrjbEJgJvGnCp5FNKTXTtGkzhaJ37R"

jobs:
  e2e:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set dynamic environment variables
        run: echo "HOST_WALLET_DIR=$PWD/wallets" >> $GITHUB_ENV

      - name: Set up Python ${{ env.PYTHON_DEFAULT_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_DEFAULT_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: python -m pip install --upgrade nox 'pdm>=2.12,<3'

      - name: Create wallet files
        run: |
          set -euxo pipefail
          CONTAINER_NAME=$(python3 -c 'import uuid; print(uuid.uuid4())')
          docker run \
            --rm \
            --detach \
            --name "$CONTAINER_NAME" \
            --volume "$HOST_WALLET_DIR:/root/.bittensor/wallets/" \
            python:3.11-slim \
            tail -f /dev/null

          # generate the wallet files in "host", so that mounting works
          cat <<EOF | docker exec --interactive "$CONTAINER_NAME" bash
          set -euxo pipefail
          pip install bittensor
          btcli wallet regen_coldkey \
            --wallet.name compute_horde_validator \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_VALIDATOR_COLDKEY} \
            --no_password --no_prompt
          btcli wallet regen_hotkey \
            --wallet.name compute_horde_validator \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_VALIDATOR_HOTKEY} \
            --no_password --no_prompt
          btcli wallet regen_coldkey \
            --wallet.name compute_horde_miner \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_MINER_COLDKEY} \
            --no_password --no_prompt
          btcli wallet regen_hotkey \
            --wallet.name compute_horde_miner \
            --wallet.hotkey default \
            --mnemonic ${MNEMONIC_MINER_HOTKEY} \
            --no_password --no_prompt
          btcli wallet list
          EOF
          docker rm -f "$CONTAINER_NAME"

      - name: Check out facilitator
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${{ secrets.FACILITATOR_DEPLOY_KEY_PRIVATE }}"
          rm -rf facilitator
          git clone git@github.com:backend-developers-ltd/ComputeHorde-facilitator.git facilitator

      - name: Run facilitator
        working-directory: facilitator
        run: |
          set -euxo pipefail
          ./setup-prod.sh
          sed -i.bak \
            -e '/SECRET_KEY/d' \
            -e '/BITTENSOR_NETUID/d' \
            -e '/BITTENSOR_NETWORK/d' \
            -e '/POSTGRES_PASSWORD/d' \
            -e '/DATABASE_URL/d' \
            ./envs/prod/.env
          
          # journald logging driver is not supported on macos :(
          if [ "${ACT:-false}" = "true" ]; then
            sed -i.bak \
              -e '/logging/d' \
              -e '/driver:/d' \
              -e '/options:/d' \
              -e '/tag:/d' \
              ./envs/prod/docker-compose.yml
          fi
          
          echo "SECRET_KEY=12345" >> .env
          echo "BITTENSOR_NETUID=$BITTENSOR_NETUID" >> .env
          echo "BITTENSOR_NETWORK=$BITTENSOR_NETWORK" >> .env
          echo "POSTGRES_PASSWORD=12345" >> .env
          echo "DATABASE_URL=postgres://postgres:12345@db:5432/project" >> .env

          docker compose up --detach --wait db redis app
          
          sleep 10 # wait for containers to start
          FACILITATOR_IP_ADDRESS=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' facilitator-app-1)
          echo "FACILITATOR_URI=ws://$FACILITATOR_IP_ADDRESS:8000/ws/v0/" >> $GITHUB_ENV

      - name: Build executor image
        run: |
          cd executor
          docker build \
            --build-context compute-horde=../compute_horde \
            -t backenddevelopersltd/executor-e2e:v0-latest \
            -f app/envs/prod/Dockerfile \
            .

      - name: Build miner nginx image
        run: |
          cd miner/envs/runner/nginx
          docker build --platform linux/amd64 -t "backenddevelopersltd/$MINER_NGINX_IMAGE_REPO:v0-latest" .

      - name: Run miner
        run: |
          set -euxo pipefail
          
          # build miner image
          cd miner
          docker build \
            --build-context compute-horde=../compute_horde \
            -t backenddevelopersltd/miner-e2e:v0-latest \
            --build-arg MINER_VERSION="$GITHUB_SHA" \
            -f app/envs/prod/Dockerfile .
          
          # build miner-runner image
          cd envs/runner
          sed -i.bak '/pull_policy/d' ./data/docker-compose.yml
          docker build \
            -t backenddevelopersltd/miner-runner-e2e:v0-latest \
            --build-arg MINER_RUNNER_VERSION="$GITHUB_SHA" \
            --build-arg MINER_IMAGE_REPO=miner-e2e \
            --build-arg MINER_NGINX_IMAGE_REPO="$MINER_NGINX_IMAGE_REPO" \
            .

          # prepare files
          cat > compose.yaml <<ENDDOCKERCOMPOSE
          services:
            miner-runner:
              image: backenddevelopersltd/miner-runner-e2e:v0-latest
              volumes:
                - /var/run/docker.sock:/var/run/docker.sock
                - ./.env:/root/.env
          ENDDOCKERCOMPOSE
          
          cat > .env <<ENDENV
          SECRET_KEY=12345
          POSTGRES_PASSWORD=12345
          BITTENSOR_NETUID=$BITTENSOR_NETUID
          BITTENSOR_NETWORK=$BITTENSOR_NETWORK
          BITTENSOR_WALLET_NAME=compute_horde_miner
          BITTENSOR_WALLET_HOTKEY_NAME=default
          HOST_WALLET_DIR=$HOST_WALLET_DIR
          BITTENSOR_MINER_PORT=8000
          BITTENSOR_MINER_ADDRESS=auto
          COMPOSE_PROJECT_NAME=compute_horde_miner
          PORT_FOR_EXECUTORS=8000
          ADDRESS_FOR_EXECUTORS=172.17.0.1
          EXECUTOR_IMAGE=backenddevelopersltd/executor-e2e:v0-latest
          DEBUG_SKIP_PULLING_EXECUTOR_IMAGE=1
          DEBUG_USE_DOCKER_IP_AS_EXTERNAL=1
          ENDENV
          
          # copy .env to "host", so that mounting works -_-
          CONTAINER_NAME=$(python3 -c 'import uuid; print(uuid.uuid4())')
          docker run \
            --rm \
            --detach \
            --name "$CONTAINER_NAME" \
            --volume "$PWD:/root/pwd" \
            alpine \
            tail -f /dev/null
          docker cp $PWD/.env "$CONTAINER_NAME:/root/pwd/.env"
          docker rm -f "$CONTAINER_NAME"
          
          docker compose up --detach --wait
          
          sleep 10 # wait for containers to start
          docker ps
          MINER_IP_ADDRESS=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' /compute_horde_miner-app-1)
          echo "MINER_IP_ADDRESS=$MINER_IP_ADDRESS" >> $GITHUB_ENV

      - name: Run validator
        run: |
          set -euxo pipefail
          
          # build validator image
          cd validator
          docker build \
            --build-context compute-horde=../compute_horde \
            -t backenddevelopersltd/validator-e2e:v0-latest \
            --build-arg VALIDATOR_VERSION="$GITHUB_SHA" \
            -f app/envs/prod/Dockerfile .
          
          # build validator-runner image
          cd envs/runner
          sed -i.bak '/pull_policy/d' ./data/docker-compose.yml
          docker build \
            -t backenddevelopersltd/validator-runner-e2e:v0-latest \
            --build-arg VALIDATOR_RUNNER_VERSION="${GITHUB_SHA}" \
            --build-arg VALIDATOR_IMAGE_REPO=validator-e2e \
            .

          # prepare files
          cat > compose.yaml <<ENDDOCKERCOMPOSE
          services:
            validator-runner:
              image: backenddevelopersltd/validator-runner-e2e:v0-latest
              volumes:
                - /var/run/docker.sock:/var/run/docker.sock
                - ./.env:/root/validator/.env
          ENDDOCKERCOMPOSE
          
          cat > .env <<ENDENV
          SECRET_KEY=12345
          POSTGRES_PASSWORD=12345
          BITTENSOR_NETUID=$BITTENSOR_NETUID
          BITTENSOR_NETWORK=$BITTENSOR_NETWORK
          BITTENSOR_WALLET_NAME=compute_horde_miner
          BITTENSOR_WALLET_HOTKEY_NAME=default
          HOST_WALLET_DIR=$HOST_WALLET_DIR
          COMPOSE_PROJECT_NAME=compute_horde_validator
          FACILITATOR_URI=$FACILITATOR_URI
          HOST_PROMETHEUS_METRICS_DIR=$PWD/prometheus-metrics
          DEBUG_RUN_SYNTHETIC_JOBS_MINUTE=*
          DEBUG_DONT_STAGGER_VALIDATORS=1
          ENDENV
          
          # copy .env to "host", so that mounting works -_-
          CONTAINER_NAME=$(python3 -c 'import uuid; print(uuid.uuid4())')
          docker run \
            --rm \
            --detach \
            --name "$CONTAINER_NAME" \
            --volume "$PWD:/root/pwd" \
            alpine \
            tail -f /dev/null
          docker cp $PWD/.env "$CONTAINER_NAME:/root/pwd/.env"
          docker rm -f "$CONTAINER_NAME"
          
          docker compose up --detach --wait

      - name: miner preparations
        working-directory: miner/envs/runner
        run: |
          docker compose exec miner-runner docker compose exec app python manage.py fetch_validators
          docker compose exec miner-runner docker compose exec app python manage.py announce_address_and_port

      - name: facilitator preparations
        working-directory: facilitator
        run: docker compose exec app python manage.py sync_metagraph

      - name: test organic job
        run: |
          cd validator/envs/runner
          docker compose exec validator-runner \
            docker compose exec app \
              python manage.py debug_run_organic_job \
                --miner_hotkey "$MINER_HOTKEY_SS58" \
                --timeout 60 \
                --docker_image alpine \
                --cmd_args "echo 1"
      # TODO: check in db the organic job is completed properly

      - name: test synthetic job
        run: |
          echo TODO!!

      - name: test weight setting
        run: |
          echo TODO!!

      # TODO: run the tests

      - name: Print all logs and stop validator
        working-directory: validator/envs/runner
        run: |
          docker compose logs
          docker compose down --remove-orphans --volumes

      - name: Print all logs and stop miner
        working-directory: miner/envs/runner
        run: |
          docker compose logs
          docker compose down --remove-orphans --volumes

      - name: Print all logs and stop facilitator
        working-directory: facilitator
        run: |
          docker compose logs
          docker compose down --remove-orphans --volumes
